<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/idea-workspace/selenium">
        <classes>
            <class name="com.synway.webuitest.WebTestOne">
                <methods><include name="login_one"/></methods>
                <methods><include name="login_two"/></methods>
            </class>
            <class name="com.synway.webuitest.WebTestTwo">
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
</suite>